.zene{
    border: 1px solid black;
    background-color: pink;
    padding: 10px;
}

.zenek{
    display:flex;
    gap: 10px;
}
h2{
    margin: 0;
}
header{
    margin-bottom: 15px;
}
.dolt{
    font-style: italic;
}